/* Form module */

.form
	display block

.form__row
	&_htmlacademy
		padding-y_em(16, 0)

	&_skills
		padding-top 1.41em // 23px
		clearfix()

	&_js
		padding-y_em(62, 45)
		padding-x_em(11, 0)

.form__row-caption
	font-size (1.38em) // 22px
	line-height 2.22 // 49px
	letter-spacing .14px

	@media all and (-webkit-min-device-pixel-ratio:0)
		line-height (49 / 22) /* коррекция округлений для Chrome, Safari, Edge */
		
	&_js
		margin-bottom px_to_em(11, 22)

.form__checkbox-container
	float left
	width 33.55%

	&:last-child
		margin-left 2.6%
		width 30.3%

.form__text
	position relative
	clear both

	top -3px
	margin-bottom px_to_em(13, 14)
	padding-x_em(19, 0, 14)
	font-size .874em // 14px
	font-weight 400
	line-height 1.57 // 22px
	color #3d3d3d
	
	@media all and (-webkit-min-device-pixel-ratio:0)
		line-height 1.579 /* коррекция округлений для Chrome, Safari, Edge */
	

	&_asterisk
		position absolute
		top px_to_em(2, 36)
		left px_to_em(1, 36)
		font-size (36 * $px_em)
		line-height 1

.form__slider
	margin-left 2px
	clear both
