/* Content Container */

body
	background url('/assets/images/anketa.psd') no-repeat center 0

.container
	width $base_container_width_em
	max-width $base_container_width_em 
	margin 0 auto
	background url('/assets/images/container-bg.png')
	opacity .6