/* Container module */

.container
	display block
	width $base_container_width_em
	max-width $base_container_width_em
	height 2000px
	
	margin 0 auto
	background url('/assets/images/container-bg.png')
