/* Checkbox module */

.checkbox
	display block

.checkbox__label
	position relative
	display block
	font-size 1.31em // 21px
	line-height 1.1907 // 25px
	
	padding-y(.24em) // 5px
	padding-left 29px
	
	@media all and (-webkit-min-device-pixel-ratio:0)
		font-size 1.319em /* коррекция округлений для Chrome, Safari, Edge */

.checkbox__checkbox
	position absolute
	top px_to_em(2, 21)
	left 0
	width 22px
	height 28px
	background url('/assets/images/checkbox.png') no-repeat 1px 6px
	transition(all .4s ease 0s)

	&:hover
		opacity .6

	&::after
		position absolute
		top -6px
		left 4px
		width 100%
		height 100%
		content ''
		transition(all .4s ease 0s)

input[type='checkbox']
	display none

	&:not(:checked) + .checkbox__checkbox::after
		background none

	&:checked + .checkbox__checkbox::after
		background url('/assets/images/checked.png') no-repeat 0 2px