@font-face 
	font-family PT Sans
	src	url('../fonts/PTSans/PTSans.eot')
	src local(PT Sans),
		url('../fonts/PTSans/PTSans.woff') format('woff'),
		url('../fonts/PTSans/PTSans.woff2') format('woff2'),
		url('../fonts/PTSans/PTSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSans/PTSans.ttf') format('truetype'),
		url('../fonts/PTSans/PTSans.svg#PTSans-Regular') format('svg')
	font-style normal
	font-weight 400

@font-face 
	font-family PT Sans
	src	url('../fonts/PTSans/PTSans_bold.eot')
	src local(PT Sans Bold),
		url('../fonts/PTSans/PTSans_bold.woff') format('woff'),
		url('../fonts/PTSans/PTSans_bold.woff2') format('woff2'),
		url('../fonts/PTSans/PTSans_bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSans/PTSans_bold.ttf') format('truetype'),
		url('../fonts/PTSans/PTSans_bold.svg#PTSans-Bold') format('svg')
	font-style normal
	font-weight 700
	
@font-face 
	font-family Courier New
	src local(Courier New)
	src	url('../fonts/CourierNew/CourierNew.woff') format('woff'),
		url('../fonts/CourierNew/CourierNew.woff2') format('woff2'),
		url('../fonts/CourierNew/CourierNew.ttf') format('truetype')
	font-style normal
	font-weight 400