/* Content Main */

.main__layout
	set_padding_vertical_em(0, 56)
	set_padding_horizontal_percent(108, 120)

/* Title module */

.main__title
	display block
	width px_to_em(221)
	max-width 221px
	height px_to_em(119)
	max-height 119px

	margin-bottom px_to_em(53)
	margin-left px_to_percent(259, $base_container_width - 108 - 120)
	
	