/* Content Main */

.main__layout
	padding-y_em(0, 56)
	padding-x_percent(109, 121)

/* Title module */

.main__title
	display block
	width px_to_em(221)
	max-width 221px
	height px_to_em(119)
	max-height 119px

	margin-bottom px_to_em(53)
	margin-left px_to_percent(259, $base_container_width - 108 - 120)
	
	