include /blocks/container/container
include /blocks/header/header
include /blocks/main/main

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Application Form';

block content
	+container
		+header
		+main