mixin header()
	+b('header').header&attributes(attributes)
		div.header__layout
			div.logo
				a.logo__link(href="http://csssr.ru")
					img.logo__logo(src="/assets/images/logo.png" alt="CSSSR")
				p.logo__text Секретный архив учреждения