.header
	display block

.header__layout
	set_padding_vertical_em(60, 65)
	set_padding_horizontal_percent(45, 45)

.logo
	position relative
	outline 1px solid tomato

	&::after
		position absolute
		top -12px
		right 10px
		width px_to_em(252)
		max-width 252px
		height px_to_em(106)
		max-height 106px
		content ''
		background url('/assets/images/stamp.png') no-repeat
		background-size contain


	&__logo
		width 154px
		height 52px

	&__text
		position absolute
		top 40px
		left 6px
		font-size 10 * $px_em
		line-height (28 / 10)
		