/* Input module */

.input
	display block

.input__label
	padding-top .32em // 7px
	padding-bottom .27em // 6px
	padding-x_em(0, 15, 22)

.input__wrapper
	display inline-block
	flex(1 1 auto)
	padding-y_em(0, 26)
	background-image url('/assets/images/underline.png')
	background-repeat no-repeat
	background-position left 0 bottom px_to_em(19)
	background-size 100% 8px

	&_date
		flex(0 1 27%)

.input__input 
	width 100%
	padding-x_em(14, 14, 30)
	font-family Courier New, monospace
	font-size (30 * $px_em)
	line-height (36 / 30)
